

body {
	background-color: #C0C0C0;
}

h1 {text-align: center;
	display: block;
	border-box: box-sizing;
	/*font-family: Helvetica;*/
	font-size: 45px;
	opacity: .75;
}


.borders {
	color: #696969;
	border: 1px solid #ddd;
	padding: 10px;
	margin: 0 auto 2.5%;
	box-shadow: 0 0 5px #ddd;
	display: inline-box;
	/*box-sizing: border-box;*/

}


  .col-md-6 img {
  	width: 100%;
  	height: 400px;

  }

.col-md-2 {
	/*width: 10%;*/
}
.col-md-2 img {
	width: 100%;
	height: 200px;
	display: inline-block;
}

.same-line p {
	display: inline;

}

.description {
	width: 100%;
	height: 400px;
	overflow: scroll;
}